<div class="site-section">
	<div class="container-fluid cfcolor" >
	<form (ngSubmit)='submitQuestionDetails()' class="form">
	<div class="row element-animate">
		<div class="col-md-12 mb-4 mb-lg-0 col-lg-12">
		<div class="block-20 ">
		 
		<div class="text sidebar-padding" >
		<h3 class="heading"><a href="#">Question Entry Options</a></h3>
		<hr/>

		<div>
			<label>* Select Topic</label>
			<div class="mb-4">  
				<select class="custom-select" #c [(ngModel)]="category.topicName" name="topicName" (change)="loadSubCourse(c.value)">			
					<option *ngFor="let topic of category2 " [value]="topic.topicName">{{topic.topicName}}</option>
				</select>
			</div>
		</div>
	
		<br/>
		
	
		<label>* Select Category</label>
		<div class="  mb-4">  
			<select class="custom-select" #d [(ngModel)]="category.categoryName" name="categoryName" (change)="loadSubCategory(d.value)">
				<option *ngFor="let topic1 of category3" [value]="topic1.categoryName">	{{topic1.categoryName}}</option>
			</select> 
		</div>
		
		<br/>
		
		<label>* Select Sub Category</label>
		<div class="  mb-4">  
			<select class="custom-select" [(ngModel)]="category.sub_catName" name="sub_catName">
				<option *ngFor="let topic1 of category4" [value]="topic1.sub_catName">	{{topic1.sub_catName}}</option> 
			</select>
		</div>
		

		<label>Total Questions</label>
		<input  type="text" class="form-control" name="totalQuestions" [(ngModel)]="test.totalQuestions"/>
		<br/>
		
		<label>Duration (in Minutes) </label>
		<input type="text" class="form-control" name="duration" [(ngModel)]="test.duration"/>
		<br/>
		<br/>
		<br/>
		<button type="submit" class="btn main-button">Next</button>
		<br/><br/><br/>
		
	</div>
		
	</div>
		</div>

	</div>
		
	</form>
	</div>
	</div>
	
	<!--<li *ngFor="let course of courses1">
	{{course.courseName}}
	</li>-->
	<li *ngFor="let topic1 of category3">
		{{topic1.categoryName}}
</li>